@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Lê Quang Phúc
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0889187190
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:lqphuc94tcv2017@gmail.com">lqphuc94tcv2017@gmail.com</a><br />
</address>