@model webbandienthoai.Models.NguoiDung
@{ ViewBag.Title = "Test";
                Layout = "~/Views/Shared/_Layout.cshtml";
                var u = Session["use"] as webbandienthoai.Models.NguoiDung; }

@{ if (u != null)
                {

    <h2>Xin chào : @u.Email</h2>
                    @Html.ActionLink("Đăng xuất", "DangXuat", "User") }

                    <div>Bin Shop</div> }





